<nav class="fixed top-0 w-full bg-blue-600 text-white p-4">
  <div class="u-main-container flex justify-between items-center">
    <a href="/" class="text-xl font-bold">ForumExpres</a>
    <ul class="flex items-center gap-4">
      <li>
        <a href="/ajouter-une-discussion" class="text-white hover:bg-blue-700 rounded px-4 py-2 "
          >Créer une discussion</a
        >
      </li>
      <li>
        <a href="/connexion" class="text-white hover:bg-blue-700 rounded px-4 py-2">Connexion</a>
      </li>
      <li>
        <a href="/inscription" class="text-white hover:bg-blue-700 rounded px-4 py-2">Inscription</a>
      </li>
    </ul>
  </div>
</nav>
