<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Erreur 500 | Forum Express</title>
  </head>
  <body>
    <%- include("../partials/navbar.ejs") %>
    <div
      class="u-main-container pt-32 flex flex-col items-center justify-center"
    >
      <h1 class="text-4xl mb-2">Erreur 500</h1>
      <p class="mb-10">
        Une erreur a eu lieu reesayer plus tard ou conatctez le site
      </p>
      <a
        href="/"
        class="text-white bg-blue-600 px-4 py-2 rounded hover:bg-blue-700"
        >Retour à la page d'accueil</a
      >
    </div>
    <script src="/js/signout.js"></script>
  </body>
</html>
