<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ajouter une discussion | Forum Express</title>
    <link rel="stylesheet" href="/vendor/quill/quill.snow.css" />
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <%- include("../partials/navbar.ejs") %>
    <div class="u-main-container pt-32">
      <h1 class="text-4xl mb-2">Créer une discussion</h1>
      <p class="mb-10">
        Cette nouvelle discssion apparaîtra dans la page principale.
      </p>
      <form class="js-thread-form" method="POST" action="/api/threads/create">
        <div class="mb-10">
          <label for="thread" class="f-label mb-3"
            >Titre de la discussion</label
          >
          <input
            type="text"
            class="js-title-input f-input"
            id="thread"
            name="thread"
            required
          />
        </div>
        <p class="mb-2">Premier message de la discussion</p>
        <div id="editor"></div>
        <button class="c-btn mt-4 mb-3">Créer une discussion</button>
        <p class="js-create-thread-info"></p>
      </form>
    </div>
    <script src="/vendor/quill/quill.js"></script>
    <script>
      // initialisation de Quill pour l'éditeur de texte //
      const quill = new Quill("#editor", { theme: "snow" });
      // récupération du formulaire de création de discussion //
      const threadForm = document.querySelector(".js-thread-form");
      // récupération du champ de titre //
      const titleInput = document.querySelector(".js-title-input");
      const createThreadInfo = document.querySelector(".js-create-thread-info");
      // écouteur d'événement pour le formulaire de création de discussion //
      threadForm.addEventListener("submit", handlerCreateThread);

      // fonction de gestion de la création de discussion //
      async function handlerCreateThread(e) {
        e.preventDefault();
        createThreadInfo.textContent = "";
        // vérification que le post contient au moins un caractère //
          if (!quill.getText().trim()) {
          createThreadInfo.textContent =
            "Le post doit contenir au mooins un caractère.";
          return;
        }
        
        try {
          // Envoie de la requete pour créer la discussion // 
          const response = await fetch("/api/threads/create", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ 
              title: titleInput.value, 
              content: quill.root.innerHtml
             }),
          });
          if(!response.ok) {
            throw new Error("Erreur serveur");

          }else{
            const data = await response.json();
            console.log(data);
            // affichage du message de succès //
            createThreadInfo.textContent = `${data.message} : ${data.thread.title}`;
            // repise a zero les champs du formulaire //
            titleInput.value = "";
            // remise a zero de l'éditeur de texte //
            quill.root.innerHTML = "";
          }
          
        } catch (error) {
          createThreadInfo.textContent = `Erreur : ${error.message}`;
       
        } finally {
          createThreadInfo.textContent = `Thread created`;
        }
      }
    </script>
  </body>
</html>
