<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Connexion | Forum Expree</title>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body class="pt-40">
    <%- include("../partials/navbar.ejs") %>
    <form
      action=""
      class="js-signup-form max-w-md mx-auto px-8 pt-8 pb-10 border border-gray-400 rounded"
    >
      <p class="text-2xl text-center mb-8">Connexion</p>
      <div class="mb-4">
        <label for="email" class="f-label mb-2">Email</label>
        <input type="text" class="f-input" />
      </div>
      <div class="mb-4">
        <label for="password" class="f-label mb-2">Mot de passe</label>
        <input type="password" class="f-input" />
      </div>
      <button class="c-btn w-full mb-3">Coonexion</button>
    </form>
  </body>
</html>
