<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Connexion | Forum Expree</title>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body class="pt-40">
    <%- include("../partials/navbar.ejs") %>
    <form
      action=""
      method="post"
      class="js-signin-form max-w-md mx-auto px-8 pt-8 pb-10 border border-gray-400 rounded"
    >
      <p class="text-2xl text-center mb-8">Connexion</p>
      <div class="mb-4">
        <label for="email" class="f-label mb-2">Votre email</label>
        <input
          type="text"
          class="f-input"
          id="email"
          name="email"
          autocomplete="email"
          required
          maxlength="254"
        />
      </div>
      <div class="mb-14">
        <label for="password" class="f-label mb-2">Mot de passe</label>
        <input
          type="password"
          class="f-input"
          id="password"
          name="password"
          autocomplete="current-password"
          required
          minlength="6"
          maxlength="72"
        />
      </div>
      <button class="c-btn w-full mb-3">Se connecter</button>
      <P class="js-server-info"></P>
    </form>
    <script src="/js/signin.js"></script>
    <script src="/js/signout.js"></script>
  </body>
</html>
